
@inherits UmbracoViewPage<Muffin.Core.ViewModels.IContentViewModel<Example.Implementation.Models.Content>>
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
@section Main
{


    <header>
        <h1>@Model.Content.Titel</h1>

        <br />
        @Model.Content.Croppedimage

        <img src="@Model.Content.Croppedimage["640x480"]" />
        <img src="@Model.Content.Croppedimage["1024x768"]" />

        <img src="@Model.Content.Croppedimage[200, 100]" />

        @if (Model.Content.Afbeelding == null || Model.Content.Afbeelding.IsNull())
        {
            <p>Er is geen afbeelding ingegeven.</p>
        }
        else
        {
            <p><img src="@Model.Content.Afbeelding.Url" width="400px" height="400px" /></p>
        }

        <i>@Model.Content.Intro</i>
    </header>
    <section>
        <hr />
        @* for demo purpose only...
            if (Model.Content.Intro.Length < 110)
            {
                <p>@Model.Content.Intro</p>
            }
            else
            {
                <p>@Model.Content.Intro.Substring(0, 110)</p>
            }
        *@

    </section>

    <section>

        <h2>Grid</h2>

        @if(Model.Content.Grid != null)
        {
            @(Model.Content.Grid.Sections.First().Rows.ElementAt(1).Areas.First().Controls.First().Value[100,100])
        }
    </section>
}
