@inherits UmbracoViewPage<Example.Implementation.ViewModels.Home>
@using System.Collections
@using Example.Implementation.ViewModels
@using Muffin.Core
@using Muffin.Infrastructure
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section Main
{
	<header>
	    Rotatie snelheids: @((Model.CarrouselContainer as Carrousel).Rotatiesnelheid)<br />
        @((Model.CarrouselContainer as IPublishedContent).Children.AsJson())

        @foreach(var itm in Model.Quickmenu.OfType<Base>())
        {
            @itm.Name @itm.Url
        }

	    <ul>
		@foreach(var item in Model.CarrouselContainer.Children.OfType<CarrouselItem>())
		{
			<li>@item.Afbeelding.Url @item.Titel - @item.Beschrijving @item.Link</li>
		}

		</ul>
    </header>
	<section>
		<h1>@Model.Titel</h1>
        <p>@Model.Intro</p>
		<section>
			@Model.MainBody
		</section>
	</section>
}

@section Side
{
	@foreach(var widget in Model.WidgetArea)
    {
        <aside>
            @widget
        </aside> 
	}
}