@inherits UmbracoViewPage<Muffin.Core.ViewModels.IContentViewModel<Home>>
@using System.Collections
@using Example.Implementation.Models
@using Example.Implementation.SurfaceControllers
@using Muffin.Core
@using Muffin.Infrastructure
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section Main
{
	<header>
	    Rotatie snelheids: @((Model.Content.CarrouselContainer as Carrousel).Rotatiesnelheid)<br />
        @((Model.Content.CarrouselContainer as IPublishedContent).Children.AsJson())

        @foreach(var itm in Model.Content.Quickmenu.OfType<Base>())
        {
            @itm.Name @itm.Url
        }

	    <ul>
		@foreach(var item in Model.Content.CarrouselContainer.Children.OfType<CarrouselItem>())
		{
			<li>@item.Afbeelding.Url @item.Titel - @item.Beschrijving @item.Link</li>
		}

		</ul>
    </header>
	<section>
		<h1>@Model.Content.Titel</h1>
        <p>@Model.Content.Intro</p>
		<section>
			@Model.Content.MainBody
		</section>
	</section>
}

@section Side
{
	@foreach(var widget in Model.Content.WidgetArea)
    {
        <aside>
            @widget
        </aside> 
	}

    <aside>
        @Html.Action("Feedback", "FeedbackSurface")
    </aside>
    
}