@using Muffin.Mvc
@model Muffin.Core.ViewModels.ICollectionContentViewModel<Muffin.Core.Models.IModel>
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section Main
{
	<header>
		There are @Model.TotalResults items in the result. But only @(Model.Results.OfType<Example.Implementation.Models.Content>().Count()) are Content items
    </header>

	@foreach(var child in Model.Results.OfType<Example.Implementation.Models.Content>())
	{
		<section>
			<h2>@child.Titel</h2>
			<p>@child.Intro</p>
			<button onclick="window.location = '@child.Url'; return true;" style="width: 100%">@("Lees meer...".Translate("readmore"))</button>
		</section>
	}

}
